  <p><%= @video.title %></p> <br>
  <p><%= @video.introduction %></p>

<% if @video.image.attached? %>
  <img src="<%= rails_blob_path(@video.image) %>">
<% end %>

<% if @video.video.attached? %>
  <%= video_tag rails_blob_path(@video.video, disposition: "attachment"),class: "video-size", controls: :true %>
<% end %>